<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconstruct Statues - Artrevoke</title>
    <link rel="stylesheet" href="/static/reconstruct.css">
</head>
<body>
    <div class="container">
        <h1>Reconstruct the Statues</h1>
        <form action="{{ url_for('reconstruct') }}" method="post" enctype="multipart/form-data">
            <label for="file-input" class="file-label">Choose File</label>
            <input type="file" id="file-input" name="statue_image" required>
            <button type="submit">Upload and Mask</button>
        </form>
        {% if original_image and processed_image %}
        <div class="image-container">
            <h2>Original Image</h2>
            <img src="{{ url_for('static', filename=original_image.split('static/')[-1]) }}" alt="Original Image">
            <h2>Processed Image</h2>
            <img src="{{ url_for('static', filename=processed_image.split('static/')[-1]) }}" alt="Processed Image">
        </div>
        {% endif %}
        <div class="button-container">
            <form action="{{ url_for('result') }}" method="post">
                <input type="hidden" name="original_image" value="{{ original_image }}">
                <input type="hidden" name="processed_image" value="{{ processed_image }}">
                <button type="submit">Done</button>
            </form>
            <a href="{{ url_for('home') }}">
                <button type="button">Back to Home</button>
            </a>
        </div>
    </div>
</body>
</html>
